/*** Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {	margin: 0;	padding: 0;	border: 0;	font-size: 100%;	font: inherit;	vertical-align: baseline; color: inherit;}/* HTML5 display-role reset for older browsers */article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {	display: block;}body {	line-height: 1;}ol, ul {	list-style: none;}blockquote, q {	quotes: none;}blockquote:before, blockquote:after,q:before, q:after {	content: '';	content: none;}table {	border-collapse: collapse;	border-spacing: 0;}a{text-decoration: none;}
/********/


body {
	font: 100%;
	font-family: 'Enriqueta', serif; 
/* 	margin: 0 auto; */
	color: #616161;
	padding: 0em 10%;	
	width: 960px; /*** TO BE REMOVED WHEN MADE RESPONSIVE ***/
}

section { clear:both; }

/***Typography***/

h1 {
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	text-transform: uppercase;
	display: inline-block;
	text-align: center;
	/*font-size: 5em;*/
	font-size: 8em;
	margin: 0.1em 0;
	line-height: 0.9;
}

h2 {
	font-family: 'Enriqueta', serif; 
	display: inline-block; 
	font-size: 2em;
	color: #816446;
/* 	color: #a07a52; */
}

#about {
	clear: both;
	margin-top: 6.5em;
/* 	background-color: #afafaf; */
}

#about h2{
	font-size: 3.5em; 
	float: left;
	margin-right: 1.5em;
}

h3 {
	font-family: 'Enriqueta', serif;
	font-weight: 800;
	font-size: 1.8em;
	margin: 0.5em 0;
}

.project-description {
	margin-top: 1.6em;
	margin-right: 8%;
	padding: 0.4em 0.6em;
	display: block; 
	width: 45%; 
	float: right;
	background-color: #fff;
	-webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);
  box-shadow: 0 0 50px rgba(0,0,0,0.8);
}

#projects p {
	font-family: 'Enriqueta', serif;
	font-size: 1.09em;
	margin: 0.8em 0;;
	line-height: 1.3;
}

nav ul {padding: 1% 0 1% 25%; margin-bottom: 3em; border-top: 1px solid #d3d3d3; border-bottom: 1px solid #d3d3d3; }
nav li {
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 0.05em;
/* 	font-size: 1.3em; */
	color: #DC391C;
	font-size: 2em;
	display: inline-block;
	margin-right: 20%;	
}

nav li a {padding: 0.22em 0.3em;}

nav a:hover {
	background-color: #f5f2f2;
}

.link {
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	text-transform: uppercase;
	color: #6b6b6b;
	font-size: 1.09em;
}

.link:hover {text-decoration: underline;}

/***Positioning***/

hgroup {
	margin: 2em auto;
	text-align: center;
}
hgroup h1{width: 44%;}
hgroup h2{width: 100%;}


.screenshot {
	float: left;
	clear: left;
	margin: 0 1em 1em 0;
}

#gbchealth{
	display: block;
	background: url('../img/gbchealth-background.jpg') 50% no-repeat;
	min-height: 400px;
}