/*** Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {	margin: 0;	padding: 0;	border: 0;	font-size: 100%;	font: inherit;	vertical-align: baseline; color: inherit;}/* HTML5 display-role reset for older browsers */article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {	display: block;}body {	line-height: 1;}ol, ul {	list-style: none;}blockquote, q {	quotes: none;}blockquote:before, blockquote:after,q:before, q:after {	content: '';	content: none;}table {	border-collapse: collapse;	border-spacing: 0;}a{text-decoration: none;}
/********/

html {background-image: url('../img/debut_light.png');}
body {
	font: 100%;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
  	margin: 0 auto;
	color: #535353;
	width: 960px;
}

a {	color: #DC391C;}


li {display: inline-block;}

section {clear:both;}

section img {
	float:left;
	-webkit-box-shadow: 0 0 15px #737276;
	box-shadow: 0 0 15px #737276;
	margin-bottom: 3.6em;
	width: 55%;
}

h1 {

	font-family: 'Libre Baskerville',Times, serif;
	font-weight: 400;
	display: inline-block;
	text-align: center;
	font-size: 4.6em;
	margin: 0em 2%;
	line-height: 0.9;
}

/***Adjust Kerning in WEN***/
h1 .char8 {margin-left: -0.155em;}

h2 {
	font-family: 'Libre Baskervill',Times, serif;
	font-style: italic;
	font-weight: 400;
	font-size: 1.2em;
	margin-bottom: 0.3em;
}

h3 {
	font-family: 'Libre Baskerville', Times, serif;
	font-weight: 700;
	font-size: 1.4em;
	margin-bottom: 0.5em;
}

nav {text-align: center;}
nav ul { margin-bottom: 3em; border-top: 1px solid #d3d3d3; border-bottom: 1px solid #d3d3d3;}
nav li {
	font-family: 'Raleway', verdana, sans-serif;
	font-weight: 600;
	text-transform: uppercase;
/* 	letter-spacing: 0.05em; */
	color: #DC391C;
	font-size: 1em;
	display: inline;
}

nav li a {padding: 0.5em 2em; display: inline-block;}

nav a:hover {background-color: #f5f2f2;}

#about {
	clear: both;
	border-top: 1px solid #d3d3d3; border-bottom: 1px solid #d3d3d3;
	padding: 1.4em 0;
	overflow: hidden;
}

#about h2{
	font-size: 4.5em; 
	float: left;
	margin-left: 20%;
	margin-right: 6%;
}

#about p {
	float: left;
	width: 50%;
}

.project-description {
	padding: 0 2.5%;
	display: inline-block; 
 	max-width: 370px; 
	float: left;
}

p {
/* 	font-family: 'Enriqueta', serif; */
	font-size: 0.9em;
	margin: 0.8em 0;;
	line-height: 1.5;
}

.link {
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	text-transform: uppercase;
/* 	color: #6b6b6b; */
	font-size: 1.09em;
}

.link:hover {text-decoration: underline;}

hgroup {
	margin: 1.2em auto;
	text-align: center;
}

#contact ul{
	clear: both;
	text-align: center;
	margin: 2.5em 0;
}
#contact li{
	padding-right: 2em;
}
#contact li:last-child{
	padding-right: 0;
}

footer {text-align: center; font-size: 0.7em; line-height: 1.5;}
#about a:hover, footer a:hover {text-decoration: underline;}


/*********************/
/****Mobile Styles****/
/*********************/

@media screen and (max-width: 960px){
	body {width: 100%;}
	section img{width: 50%;}	
	.project-description {
		width: 45%;
	}
}
@media screen and (max-width: 800px){
	body{width: 100%;}
	
	.project-description {
		float: none;
		clear:left;
		margin: 0 0 1.5em 0;
/* 		padding: 2em; */
		width: 95%;
		max-width: none;
	}
	
	section img{
		float: none;
		width: 100%;
		margin-bottom: 1em;
	}
	
	#about{padding: 1em 5%;}
	#about h2{
		float: none;
		margin: 0;
	}
	#about p{
		float: none;
		width: 100%;
	}
	
	nav li a {padding: 0.5em 0.9em;}
}
